body {
	font-family: Helvetica;
	background-color: #eeeeee;
	color: #333333;
}

h1 {
	font-size: 50px;
	margin: 0px
}

h2 {
	color: #555555;
	border-top: solid 1px #333333;
}

p {
	font-style: italic;
}

ol {
	border-bottom: solid 1px #333333;
}